.cabecalho{
    background-image: url("../img/campo\ 1\ \(1\).png");
    height: 200px;
    background-repeat: no-repeat;
}

.cabecalho--menu{
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url("../img/Vector.png");
    background-repeat: no-repeat;

}

@media screen and (min-width:1024px) {
    .conatiner__titulo{
        display:block;
    }
    .cabecalho{
        background-size: cover;
       width: 120%;
        height: 500px;
        display: flex;
     align-items: center;
     justify-content: center;

    }
    .cabecalho h1{
        font-size: 40px;
        color: white;

    }
    .cabecalho--menu{ 
        display: none;
    }
}