.cabecalho{
    background-image: url("../img/campo\ 1.png");
    height: 200px;
}

.cabecalho--menu{
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url("../img/Vector.png");
    background-repeat: no-repeat;

}