@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');


.secao1 p{

    color: var(--cor-da-fonte);
    margin: 16px;
    font-size: 24px;
    font-family: "Jomhuria", serif;
}